body{
    margin: 0;
    padding: 0;
}
.contain{
    overflow: hidden;
}
.header nav a {
    font-size: 16px;

}
.nav ul{
    margin-bottom: 1px;
}
.nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
.main{
    overflow: hidden;
    margin-bottom: 5%;
}
.main h2{
    font-size: 25px;
    font-weight: bold;
}
.sidebar{
    width: 100%;
}
.sidebar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar ul li{
    border-bottom: 1px solid #babfb6;
}
.sidebar ul li a{
    text-decoration: none;
    display: block;
    color: #0f0f0f;
    font-size: 16px;
    padding: 10px;
}
.sidebar ul li a:hover{
    text-decoration: underline;
    color: #2aabd2;
}
.view{
    border-left: 1px solid #babfb6;
}
.heading{
    margin-bottom: 5%;
}
.account{
    width: 100%;

}
.info-p a{
    text-decoration: none;
    font-size: 16px;
    color: #2aabd2;
    line-height: 30px;
}
.footer{
    font-size: 16px;
}
