body{
    margin: 0;
    padding: 0;
}
.header nav a {
    font-size: 16px;
    padding: 11px;
}
.nav ul{
    margin-bottom: 1px;
}
.nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
.main{
    margin-top: 10%;
    padding: 2%;
    background-color: rgba(0,0,0,.7);
    color: #FFFFFF;
    margin-bottom: 2%;
}
.head{
    text-align: center;
    margin: 3%;

}

.main form{
    padding: 2%;
}
.foot{
    margin-top: 2%;
}
.foot a{
    color: #FFFFFF;
    text-decoration: none;
}
.foot a:hover{
    color: #FFFFFF;
}