body{
    margin: 0;
    padding: 0;
}
.header nav a {
    font-size: 16px;
    padding: 11px;
}
.nav ul{
    margin-bottom: 1px;
}
.nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
.main{
    margin-top: 10%;
}
.items{
    margin-bottom: 5%;
    background: rgba(0,0,0,.7);
    padding: 2%;
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: #262626;
}
.button-up{
    float: right;
    padding: 2% 5%;
    background: #30db12;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    border-color: #30db12;
}