body{
    margin: 0;
    padding: 0;
}
.header nav a {
    font-size: 16px;
    padding: 11px;
}
.nav ul{
    margin-bottom: 1px;
}
.nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
.container h1{
    font-size: 25px;
}
.main{
    color: #000;
}
.sidebar{
    overflow: hidden;
    display: block;
}
.list{
    overflow: hidden;
}
.list ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.list ul li{
    border-bottom: 1px solid #babfb6;
}
.list ul li a{
    text-decoration: none;
    display: block;
    font-size: 15px;
    padding: 20px;
}
.intro{
    overflow: hidden;
}
.class-name{
    text-align: center;
}
.introduce{
    font-size: 15px;
}
.video{
    width: 100%;
    height: auto;
}
.pagination ul li{
    float: none;
}
.comment{
    width: 100%;
}
@media only screen and (min-width: 240px) and (max-width: 360px){
    .video{
        width: 100%;
        height: auto;
    }
    .comment{
        width: 100%;
    }
}