body{
    margin: 0;
    padding: 0;
}
.header nav a {
    font-size: 16px;
    padding: 11px;
}
.nav ul{
    margin-bottom: 1px;
}
.nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
.footer{
    font-size: 15px;
}
.main{
    overflow: hidden;
}
.sidebar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar ul li{
    border-bottom: 1px solid #babfb6;
}
.sidebar ul li a{
    text-decoration: none;
    display: block;
    color: #0f0f0f;
    font-size: 16px;
    padding: 10px;
}
.sidebar ul li a:hover{
    text-decoration: underline;
    color: #2aabd2;
}
.view{
    margin-bottom: 10px;
    border-left: 1px solid #babfb6;
}
.form-l{
   border: 2px solid #babfb6;
    border-radius: 10px;
    padding: 2%;
}
.headding{
    text-align: center;
}
.option{
    border-bottom: 1px solid #babfb6;
}
.p{
    color: #fff;
}
.button-o{
    border-radius: 10px;
    border-color: #131a11;
    padding: 7px;
    font-size: 13px;
    overflow: hidden;
    color: #FFFFFF;
    background: rgba(0,0,0,.7);
}
.button-o:hover{
    transition: all .5s;
    background: #30db12;
}
.fo-bu{
    margin-top: 20px;
    float: right;
    padding: 2% 5%;
    font-size: 14px;
    font-weight: bold;
    background: rgba(0,0,0,.7);
    color: #FFFFFF;
    border-radius: 10px;
}
.fo-bu:hover{
    transition: all .5s;
    background: #30db12;
}