body{
    margin: 0;
    padding: 0;
}
.header nav a {
    font-size: 16px;
    padding: 11px;
}
.nav ul{
    margin-bottom: 1px;
}
.nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
.popular p{
    text-align: center;
    font-weight: bold;
    color: #262626;
    text-decoration: none;
}
.trainer p{
    text-align: center;
    font-weight: bold;
    color: #262626;
    text-decoration: none;
}
.container h1{
    font-size: 25px;
    font-weight: bold;
}
.container h2{
    font-size: 18px;
    font-weight: 700;
}
.tp1{
text-align: center;
}
.main{
    overflow: hidden;
    border: 1px solid #babfb6;
    margin-top: 7%;
    margin-bottom: 5%;
}
.account{

}
.acc{
    width: 100%;
    margin: 4%;
    padding: 4%;
    border: 1px solid #babfb6;
    border-top: 4px solid #30db12;
    border-bottom: 4px solid #30db12;
    float: left;
}
.acc h2{
    text-align: center;
}
.acc ul{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10%;
}
.acc ul li{
    margin-left: 37%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgba(48, 219, 18, 0.88);
    border-radius: 50%;
    position: relative;
    transition: .5s ease-in-out;
    color: #262626;
    font-size: 20px;
    z-index: 1;
}
.acc ul li:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.2);
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
    z-index: -1;
}
.acc ul li:hover:before{
    transform: scale(.9);
}

.acc ul li a{
    text-decoration: none;
    color: #ffffff;
}
.acc-caption{
    width: 100%;
}