body{
    margin: 0;
    padding: 0;
}
.header nav a {
    font-size: 16px;
    margin: 8px;
}
.nav ul{
    margin-bottom: 1px;
}
.nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
.popular p{
    text-align: center;
    font-weight: bold;
    color: #262626;
    text-decoration: none;
}
.trainer p{
    text-align: center;
    font-weight: bold;
    color: #262626;
    text-decoration: none;
}
.container h1{
    font-size: 25px;
    font-weight: bold;
}
.main{
    margin-top: 2%;
}
.sidebar{
    width: 100%;
    overflow: hidden;
    border-right: 1px solid #babfb6;
}
.sidebar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar ul li{
    border-bottom: 1px solid #babfb6;
}
.sidebar ul li a{
    text-decoration: none;
    display: block;
    color: #0f0f0f;
    font-size: 16px;
    padding: 10px;
}
.sidebar ul li a:hover{
    text-decoration: underline;
    color: #2aabd2;
}
.course{

}
table{
    border: 2px solid #babfb6;
    font-size: 18px;
}
tbody, th, tr, td{
    border: 2px solid #babfb6;
}
.course-name{
    width: 60%;
}

