body{
    margin: 0;
    padding: 0;
    @import "https://fonts.googleapis.com/css?family=Open+Sans";
    font-family: sans-serif;
}
.contain{
    width: 100%;
    overflow: hidden;
}
.header{
    width: 100%;
    background: rgba(0,0,0,.7);
    position: fixed;
    height: 76px;
    top: 0;
    left: 0;
    z-index: 100;
}
#logo{
    margin: 15px;
    float: left;
    width: 120px;
    height: 50px;
    background: url("../image/logo/Untitled-1.png") no-repeat center;
    display: block;
}

.toggle,
[id^=drop] {
    display: none;
}
.toggle-1,
[id^=drop-1] {
    display: none;
}
.toggle-2,
[id^=drop-2] {
    display: none;
}
.menu{
    display: block;
}
.header nav {
    margin: 20px;
}

.header nav:after {
    content:"";
    display:table;
    clear:both;
}
.header nav ul {
    float: right;
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}
.header nav ul li {
    margin: 0px;
    display:inline-block;
    float: left;
}

.header nav a {
    display:block;
    padding:12px;
    margin: 10px;
    color:#FFF;
    font-weight: bold;
    font-style: normal;
    border-radius: 10px;
    text-decoration:none;
}
.header nav a.active{
    background:#30DB12;
}
.header nav a:hover {
    transition: all 1s;
    background: #30DB12;
}
/* Hide Dropdowns by Default
 * and giving it a position of absolute */
.header nav ul ul {
    display: none;
    position: absolute;
    overflow: hidden;
    background: rgba(0,0,0,.7);
    /* has to be the same number as the "line-height" of "nav a" */
}
/* Display Dropdowns on Hover */
.header nav ul li:hover > ul {
    display:inherit;

}
/* Fisrt Tier Dropdown */
.header nav ul ul li {
    float: none;
    display:list-item;
    position: relative;


}
/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
.header nav ul ul ul li {
    position: relative;
    display: block;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left:150px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

}
/* Change ' +' in order to change the Dropdown symbol */
.header nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */

}
/*End Of Drop Down*/
li > a:only-child:after { content: ''; }
.content{
    width: 100%;
}
.top-side{
    overflow: hidden;
    border-bottom: 1.5px solid #babfb6;
}
.logo{
    margin-top: 2%;
    float: left;
    width: 25%;
    padding: 2%;
    overflow: hidden;
}
.category{
    overflow: hidden;
    min-height: 250px;
    margin-top: 10%;
    width: 35%;
}
.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgba(0,0,0,.7);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.1);
}
.nav a {
    text-decoration: none;
    display: block;
    padding: 0 16px;
    line-height: inherit;
    cursor: pointer;
    color: #FFFFFF;
}
.nav__menu {
    line-height: 45px;
    font-weight: 700;

}
.nav__menu-item {
    display: inline-block;
    position: relative;
}
.nav__menu-item:hover {
    border-radius: 10px;
    background-color: #30DB12;
}
.nav__menu-item:hover .nav__submenu {
    display: block;
}
.nav__submenu {
    font-weight: 300;
    display: none;
    padding: 3%;
    position: absolute;
    width: 220px;
    background-color: rgba(0,0,0,.7);
    color: #fff;
}
.nav__submenu-item:hover {
    transition: all 500ms;
    background: #30DB12;
}

.search{
    width: 28%;
    float: right;
    overflow: hidden;
    margin-top: -18%;
    padding: 1%;
    margin-right: 1%;
}
.search-box{
    width: 60%;
    padding: 3%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: #babfb6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.1);
}
.search-box::placeholder{
    font-size: 15px;
    color: black;
    font-weight: 500;
}
.submit{
    width: 35%;
    padding: 3%;
    border-color: #babfb6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    background: #30db12;
}
.add{
    width: 100%;
}

/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('../image/img/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 22 css */
/*
.jssora22l                  (normal)
.jssora22r                  (normal)
.jssora22l:hover            (normal mouseover)
.jssora22r:hover            (normal mouseover)
.jssora22l.jssora22ldn      (mousedown)
.jssora22r.jssora22rdn      (mousedown)
*/
.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('../image/img/a22.png') center center no-repeat;
    overflow: hidden;
}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }
.mid-side{
    position: relative;
}
.our-ministry{
    width: 100%;
    float: left;
    background: rgba(0,0,0,.7);
}
.our-ministry h1{
    font-size: 35px;
    text-align: center;
    color: #fff;
}
article{
    padding: 3%;
    text-align: center;
    color: #FFFFFF;
}
.btn-op{
    margin: 2%;
    text-align: center;
}
.btn{
    padding: 1%;
    font-size: 15px;
    color: #FFFFFF;
    background: transparent;
    border-radius: 10px;
}
.btn:hover{
    transition: all .5s;
    background: #30db12;
    border-color: transparent;
}
.features{
    width: 100%;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
}
.figure{
    width: 21%;
    margin: 2%;
    padding: 4%;
    float: left;
}
.figure ul{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10%;
}
.figure ul li{
    margin-left: 37%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgba(48, 219, 18, 0.88);
    border-radius: 50%;
    position: relative;
    transition: .5s ease-in-out;
    color: #262626;
    font-size: 20px;
    z-index: 1;
}
.figure ul li:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.2);
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
    z-index: -1;
}
.figure ul li:hover:before{
    transform: scale(.9);
}

.figure ul li a{
    text-decoration: none;
    color: #ffffff;
}
.fig-caption{
    width: 100%;
}
.fig-caption h2{
    font-size: 18px;
    color: #262626;
    margin-bottom: 2%;
}
.btn-lo{
    margin: 2%;
    text-align: center;
}
.btn-1{
    padding: 4%;
    font-size: 16px;
    display: inline-block;
    color: #ffffff;
    background: rgba(0,0,0,.7);
    border-radius: 10px;
    border-color: transparent;
}
.btn-1 input::placeholder{
    display: inline-block;
}
.btn-1:hover{
    transition: all .5s;
    background: #30db12;
    border-color: transparent;
}

.slide{
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
.slidey{
    position: relative;
    width: 400%;
    animation: animate 20s linear infinite;
}

.slider{
    position: relative;
    width: 25%;
    float: left;
    height: 500px;
}
.slider-caption{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    color: #fff;
}
.slider-caption article{
    margin-top: 5%;
    font-size: 16px;
}
.slider-caption article h1{
    font-size: 2em;
}
/*.slider{
    background-size: cover;
}*/
.slider:nth-child(1){
    background: url("../image/slider/cprogramming.png") no-repeat;
    background-size: cover;
}
.slider:nth-child(2){
    background: url("../image/slider/html5css3.png") no-repeat;
    background-size: cover;
}
.slider:nth-child(3){
    background: url("../image/slider/javascript.png") no-repeat;
    background-size: cover;
}
.slider:nth-child(4){
    background: url("../image/slider/php.png") no-repeat;
    background-size: cover;
}

@keyframes animate {
    0%{
        left: 0%;
    }
    20%{
        left: 0%;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: 0%;
    }
}

.some-text{

}
.text-i article{
    color: black;
    font-size: 16px;
}
.footer{
    background-color: rgba(0,0,0,.7);
    overflow: hidden;
    padding: 2%;
}
.part{
    width: 80%;
    padding: 1%;
    margin: 2% auto;

}
.part-1{
    width: 48%;
    float: left;
    padding: 1%;
}
.part-2{
    width: 48%;
    float: right;
    color: #FFFFFF;
}
.part-2 a{
    text-decoration: underline;
    color: #FFFFFF;
}
.part-3{
    margin-top: 21%;
}
.social{
    width: 100%;
    margin-top: 2%;
    margin-left: 35%;
    padding: 4%;
}
.social ul{
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}
.social ul li{
    margin: 10px;
    float: left;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    background: rgba(0,0,0,.7);
    border-radius: 50%;
    position: relative;
    transition: .5s ease-in-out;
    color: #fff;
    font-size: 16px;
    z-index: 1;
}
.social ul li:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #30DB12;
    color: #FFFFFF;
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
    z-index: -1;
}
.social ul li:hover:before{
    transform: scale(.9);

}
.social ul li a :hover{
    color: #262626;
}
.social ul li a{
    text-decoration: none;
    color: #fff;
}


@media only screen and (min-width: 240px) and (max-width: 360px){
    /*menu*/
    #logo{
        display: none;
    }
    nav {
        margin: 0;
    }
    .menu {
        display: none;
    }
    .toggle {
        display: block;
        padding:14px 20px;
        color:#FFF;
        font-size:14px;
        font-weight: bold;
        text-decoration:none;
        border:none;
        float: right;
    }
    .header nav{
        background: rgba(0,0,0,.7);
    }
    .toggle:hover {
        transition: all 500ms;
        background: #30db12;
    }
    [id^=drop]:checked + ul {
        display: block;
    }
    [id^=drop-1]:checked + ul {
        display: block;
    }
    nav ul li {
        display: block;
        width: 100%;
    }
    nav ul li a{
        font-size: 14px;
    }
    /*menu*/

    /*content*/
    .content{
        width: 100%;
    }
    /*content*/

    /*logo*/
    .logo{
        margin-top: 10%;
        text-align: center;
        width: 100%;
    }
    /*logo*/

    /*category*/
    .category{
        width: 100%;
    }
    /*category*/

    /*search-box*/
    .search{
        width: 100%;
        text-align: center;
    }
    .search-box{
        width: 60%;
    }
    .search-box::placeholder{
        font-size: 14px;
    }
    .submit{
        width: 35%;
        font-size: 14px;
    }
    /*search-box*/

    /*Our-Ministry*/
    .our-ministry{
        width: 100%;
        font-size: 10px;
    }
    .our-ministry h1{
        font-size: 16px;
    }
    .btn-op{
        margin: 3%;
        text-align: center;
    }
    .btn{
        padding: 3%;
        font-size: 10px;
    }
    /*Our-Ministry*/

    /*features*/
    .figure{
        width: 98%;
        padding: 0;
        font-size: 12px;
        margin-bottom: 3%;
    }
    .figure ul li{
        margin-left: 40%;
    }
    .btn-1{
        padding: 3%;
        font-size: 12px;
    }
    /*features*/

    /*slide*/

    .slide{
        width: 100%;
    }
    .slider{
        height: 320px;
    }
    .slider-caption{
        height: 100%;
    }
    .slider-caption article{
        margin-top: 1%;
        font-size: 10px;
    }
    .slider:nth-child(1){
        background-size: 100%;
    }
    .slider:nth-child(2){
        background-size: 100%;
    }
    .slider:nth-child(3){
        background-size: 100%;
    }
    .slider:nth-child(4){
        background-size: 100%;
    }

    /*slide*/

    /*part-1*/
    .part{
        font-size: 12px;
    }
    .part-1{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .text-i article{
        font-size: 10px;
    }
    /*part-1*/

    /*part-2*/
    .part-2{
        width: 100%;
        margin-top: 10%;
    }
    /*part-2*/

    /*part-3*/
    .social{
        width: 100%;
        margin-top: 2%;
        margin-left: 0;
    }
    .social ul li{
        width: 30px;
        height: 30px;
        line-height: 32px;
        font-size: 14px;
    }
    /*part-3*/


}
@media only screen and (min-width: 360px) and (max-width: 480px) {
    /*menu*/
    #logo{
        display: none;
    }
    nav {
        margin: 0;
    }
    .menu {
        display: none;
    }
    .toggle {
        display: block;
        padding:14px 20px;
        color:#FFF;
        font-size:15px;
        font-weight: bold;
        text-decoration:none;
        border:none;
        float: right;
    }
    .header nav{
        background: rgba(0,0,0,.7);
    }
    .toggle:hover {
        transition: all 500ms;
        background: #30db12;
    }
    [id^=drop]:checked + ul {
        display: block;
    }
    nav ul li {
        display: block;
        width: 100%;
    }
    nav ul li a{
        font-size: 15px;
    }
    /*menu*/

    /*content*/
    .content{
        width: 100%;
    }
    /*content*/

    /*logo*/
    .logo{
        margin-top: 10%;
        text-align: center;
        width: 100%;
    }
    /*logo*/

    /*category*/
    .category{
        width: 100%;
    }
    /*category*/

    /*search-box*/
    .search{
        width: 100%;
        text-align: center;
    }
    .search-box{
        width: 60%;
    }
    .search-box::placeholder{
        font-size: 15px;
    }
    .submit{
        width: 35%;
        font-size: 15px;
    }
    /*search-box*/

    /*Our-Ministry*/
    .our-ministry{
        width: 100%;
        font-size: 13px;
    }
    .our-ministry h1{
        font-size: 16px;
    }
    .btn-op{
        margin: 3%;
        text-align: center;
    }
    .btn{
        padding: 3%;
        font-size: 13px;
    }
    /*Our-Ministry*/

    /*features*/
    .figure{
        width: 100%;
        font-size: 13px;
        padding: 0;
    }
    .figure ul li{
        margin-left: 42%;
    }
    .fig-caption{
        width: 98%;
    }
    .btn-1 {
        padding: 3%;
        font-size: 13px;
    }
    /*features*/

    /*slide*/

    .slide{
        width: 100%;
    }
    .slider{
        height: 320px;
    }
    .slider-caption{
        height: 100%;
    }
    .slider-caption article{
        margin-top: 1%;
        font-size: 12px;
    }
    .slider:nth-child(1){
        background-size: 100%;
    }
    .slider:nth-child(2){
        background-size: 100%;
    }
    .slider:nth-child(3){
        background-size: 100%;
    }
    .slider:nth-child(4){
        background-size: 100%;
    }

    /*slide*/

    /*part-1*/
    .part{
        font-size: 13px;
    }
    .part-1{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .text-i article{
        font-size: 13px;
    }
    /*part-1*/

    /*part-2*/
    .part-2{
        width: 100%;
        margin-top: 8%;
    }
    /*part-2*/

    /*part-3*/
    .social{
        width: 100%;
        margin-top: 2%;
        margin-left: 5%;
    }
    /*part-3*/

}

@media only screen and (min-width: 480px) and (max-width: 600px) {
    /*menu*/
    #logo{
        display: none;
    }
    nav {
        margin: 0;
    }
    .menu {
        display: none;
    }
    .toggle {
        display: block;
        padding:14px 20px;
        color:#FFF;
        font-size:16px;
        font-weight: bold;
        text-decoration:none;
        border:none;
        float: right;
    }
    .header nav{
        background: rgba(0,0,0,.7);
    }
    .toggle:hover {
        transition: all 500ms;
        background: #30db12;
    }
    [id^=drop]:checked + ul {
        display: block;
    }
    nav ul li {
        display: block;
        width: 100%;
    }
    nav ul li a{
        font-size: 16px;
    }
    /*menu*/

    /*content*/
    .content{
        width: 100%;
    }
    /*content*/

    /*logo*/
    .logo{
        margin-top: 10%;
        text-align: center;
        width: 100%;
    }
    /*logo*/

    /*category*/
    .category{
        width: 100%;
    }
    /*category*/

    /*search-box*/
    .search{
        width: 100%;
        text-align: center;
    }
    .search-box{
        width: 60%;
    }
    .search-box::placeholder{
        font-size: 16px;
    }
    .submit{
        width: 35%;
    }
    /*search-box*/

    /*Our-Ministry*/
    .our-ministry{
        width: 100%;
        font-size: 16px;
    }
    .btn-op{
        margin: 3%;
        text-align: center;
    }
    .btn{
        padding: 3%;
    }
    /*Our-Ministry*/

    /*features*/
    .figure{
        width: 100%;
        padding: 0;
    }
    .figure ul li{
        margin-left: 44%;
    }
    .fig-caption{
        width: 98%;
    }
    .btn-1{
        padding: 3%;
    }


    /*features*/

    /*slide*/

    .slide{
        width: 100%;
    }
    .slider{
        height: 330px;
    }
    .slider-caption{
        height: 100%;
    }
    .slider-caption article{
        margin-top: 1%;
        font-size: 13px;
    }
    .slider:nth-child(1){
        background-size: 100%;
    }
    .slider:nth-child(2){
        background-size: 100%;
    }
    .slider:nth-child(3){
        background-size: 100%;
    }
    .slider:nth-child(4){
        background-size: 100%;
    }

    /*slide*/

    /*part-1*/
    .part-1{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    /*part-1*/

    /*part-2*/
    .part-2{
        width: 100%;
        margin-top: 4%;
    }
    /*part-2*/

    /*part-3*/
    .social{
        width: 100%;
        margin-top: 2%;
        margin-left: 18%;
    }
    /*part-3*/

}
@media only screen and (min-width: 600px) and (max-width: 768px){
    /*menu*/
    #logo{
        display: none;
    }
    nav {
        margin: 0;
    }
    .menu {
        display: none;
    }
    .toggle {
        display: block;
        padding:14px 20px;
        color:#FFF;
        font-size:18px;
        font-weight: bold;
        text-decoration:none;
        border:none;
        float: right;
    }
    .header nav{
        background: rgba(0,0,0,.7);
    }
    .toggle:hover {
        transition: all 500ms;
        background: #30db12;
    }
    [id^=drop]:checked + ul {
        display: block;
    }
    [id^=drop-1]:checked + ul {
        display: block;
    }
    [id^=drop-2]:checked + ul {
        display: block;
    }
    nav ul li {
        display: block;
        width: 100%;
    }
    /*menu*/

    /*content*/
    .content{
        width: 100%;
    }
    /*content*/

    /*logo*/
    .logo{
        margin-top: 10%;
        text-align: center;
        width: 100%;
    }
    /*logo*/

    /*category*/
    .category{
        width: 100%;
    }
    /*category*/

    /*search-box*/
    .search{
        width: 100%;
        text-align: center;
    }
    .search-box{
        width: 60%;
    }
    .search-box::placeholder{
        font-size: 16px;
    }
    .submit{
        width: 35%;
    }
    /*search-box*/

    /*Our-Ministry*/
    .our-ministry{
        width: 100%;
    }
    .btn-op{
        margin: 3%;
        text-align: center;
    }
    .btn{
        padding: 3%;
    }
    /*Our-Ministry*/

    /*features*/
    .figure{
        width: 100%;
        padding: 0;
    }
    .figure ul li{
        margin-left: 43%;
    }
    .figure ul li:before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.2);
        border-radius: 50%;
        transform: scale(0);
        transition: .5s ease-in-out;
        z-index: -1;
    }
    .figure ul li:hover:before{
        transform: scale(.9);
    }

    .figure ul li a{
        text-decoration: none;
        color: #ffffff;
    }
    .fig-caption{
        width: 95%;
    }
    .fig-caption h2{
        font-size: 20px;
        color: #262626;
    }
    .btn-lo{
        margin: 2%;
        text-align: center;
    }
    .btn-1{
        padding: 2%;
        font-size: 16px;
        color: #ffffff;
        background: rgba(0,0,0,.7);
        border-radius: 10px;
        border-color: transparent;
    }
    .btn-1:hover{
        transition: all .5s;
        background: #30db12;
        border-color: transparent;
    }

    /*features*/

    /*slide*/

    .slide{
        width: 100%;
    }
    .slider{
        height: 350px;
    }
    .slider-caption{
        height: 100%;
    }
    .slider-caption article{
        margin-top: 1%;
        font-size: 14px;
    }
    .slider:nth-child(1){
        background-size: 100%;
    }
    .slider:nth-child(2){
        background-size: 100%;
    }
    .slider:nth-child(3){
        background-size: 100%;
    }
    .slider:nth-child(4){
        background-size: 100%;
    }

    /*slide*/

    /*part-1*/
    .part-1{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    /*part-1*/

    /*part-2*/
    .part-2{
        width: 100%;
        margin-top: 4%;
    }
    /*part-2*/

    /*part-3*/
    .social{
        width: 100%;
        margin-top: 2%;
        margin-left: 25%;
    }
    /*part-3*/

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .logo{
        width: 30%;
        margin-top: 5%;
    }
    .search{
        width: 35%;
        margin-top: -20%;
    }
    .search-box::placeholder{
        font-size: 14px;
    }

    /*features*/
    .figure ul li{
        margin-left: 30%;
    }
    .btn-1{
        padding: 5%;
    }
    /*features*/
    /*slide*/

    .slide{
        width: 100%;
    }
    .slider{
        height: 350px;
    }
    .slider-caption{
        height: 100%;
    }
    .slider-caption article{
        margin-top: 1%;
        font-size: 16px;
    }
    .slider:nth-child(1){
        background-size: 100%;
    }
    .slider:nth-child(2){
        background-size: 100%;
    }
    .slider:nth-child(3){
        background-size: 100%;
    }
    .slider:nth-child(4){
        background-size: 100%;
    }

    /*slide*/
    /*part-3*/
    .part-3{
        margin-top: 30%;
    }
    .social{
        width: 100%;
        margin-top: 10%;
        margin-left: 30%;
    }
    /*part-3*/
}
