body{
    margin: 0;
    padding: 0;
}
.header nav a {
    font-size: 16px;
    padding: 11px;
}
.nav ul{
    margin-bottom: 1px;
}
.nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
.main{
    margin-top: 10%;
    overflow: hidden;
}
.heading{
    border-bottom: 1px solid #babfb6;
}
.account{
    margin: 2%;
}
.foot{
    margin-left: 5%;

}
.acc-button{
    text-decoration: none;
    padding: 5%;
    font-size: 15px;
    background: rgba(0,0,0,.7);
    border-radius: 10px;
    color: #FFFFFF;
}
.acc-button:first-child{
    padding: 5% 8% ;
    margin-bottom: 3%;
}
.acc-button:hover{
    transition: all 1s;
    background: rgba(48,219,18,.9);
    color: #262626;
}
