body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    @import "https://fonts.googleapis.com/css?family=Open+Sans";
}
.header nav a {
    font-size: 16px;
    margin: 8px;
}
.nav ul{
    margin-bottom: 1px;
}
.nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
.popular p{
    text-align: center;
    font-weight: bold;
    color: #262626;
    text-decoration: none;
}
.trainer p{
    text-align: center;
    font-weight: bold;
    color: #262626;
    text-decoration: none;
}