body{
    margin: 0;
    padding: 0;
    background: url("../image/email.jpeg")no-repeat ;
}
.header nav a {
    font-size: 16px;
    padding: 11px;
}
.main{
    margin: 8% auto;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    padding: 2%;
    color: #FFFFFF;
}
.head{
    text-align: center;
    margin-bottom: 5%;
}
.footer{
    font-size: 16px;
}
