@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sqnv5t');
  src:  url('fonts/icomoon.eot?sqnv5t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sqnv5t') format('truetype'),
    url('fonts/icomoon.woff?sqnv5t') format('woff'),
    url('fonts/icomoon.svg?sqnv5t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e91f";
}
.icon-profile:before {
  content: "\e923";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-indent-increase:before {
  content: "\ea7b";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
